DEBUG*
Debug*
Makefile
RELEASE*
Release*
TAGS
tags
.dep*
.obj*
.gvimrc
.vimrc
bin
cli_rrh*
cli_kdpd*
config.h
doc-*
env.mk
lint_cppmac.h
html
obj
out_*
rtf
wix/out
version.cpp
*~*
*.a
*.bin
*.cmd
*.d
*.dep
*.dll
*.elf
*.exe
*.ko
*.flags
*.lib
*.log
*.mak
*.map
*.mod*
*.msi
*.ncb
*.o
*.obj
*.ORG
*.org
*.sim
*.stackdump
*.suo
*.swo
*.swp*
*.user
*.zip
*.zip
*.wixpdb
*_out
/editor
